<link rel="stylesheet" type="text/css" href="__CSS__left.css" charset="utf-8"/>
<script type="text/javascript" src="__JS__jquery-2.1.4.min.js"></script>
<style>
    .active{
        display: block;
    }

    .cor {
        color:#ff0000;
    }
</style>
<div class="l_bdiv">
    <div class="f_div">
        <div class="f_span1 fmlg"><span>目录</span></div>

    </div>
    <!--目录-->
    <ul class="as_ul">
        <li class="i1">出租票</li>
        <li class="i2">火车票</li>
        <li class="i3">飞机票</li>
        <li class="i4">增值票</li>
        <li class="i5">电子票</li>
        <li class="i6">其他</li>
    </ul>

</div>
