{extend name="index:base" /}
{block name="title"}<?php echo $xml->index->index_title;?>{/block}

{block name="content"}
{include file="index/left" /}

<link rel="stylesheet" type="text/css" href="__CSS__main.css" charset="utf-8"/>
<div class="info_div info_all">
    <div>
        财务通告2017年10月财务处理通知
    </div>
    <div>
        财务通告2017年10月财务处理通知
    </div>
    <div>
        财务通告2017年10月财务处理通知
    </div>
    <div>
        财务通告2017年10月财务处理通知
    </div>
</div>
<div class="info_rdiv info_allname" style="display:none; width:800px;float:left; margin-left:50px;margin-top:30px; ">
    <div class="info_r">
        <div>
            <img style="width: 60px;" src="__IMG__touxiang.png" />
            <div class="clickn"></div>
        </div>
        <div class="info_rd">***********************************</div>
    </div>
    <div class="info_mr">
        <div>
            <img style="width: 60px;" src="__IMG__touxiang.png" />
            <div>我</div>
        </div>
        <div class="info_mrd">***********************************</div>
    </div>
</div>

{/block}